.App {
  text-align: center;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 좌우 스크롤은 없애고 */
  overflow-y: auto;   /* 위아래 스크롤 허용 */
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.Main-image {
  width: 100%;
  height: auto;
  max-width: 600px; /* 최대 가로 사이즈 제한 */
  display: block;
  margin: 20px auto;
}
